table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    text-align: center;
    padding: 10px;
}
table{
    width: 100%;
}
th{
    font-family: 'Gloock', serif;
    color:plum;
}
td{
    font-family: 'Indie Flower', cursive;
    color:mediumpurple;
}

